#map {
    height: 100vh;
    
}
.fade-marker {
    opacity: 0;
    transition: opacity 1.2s ease-in;
  }

.fade-marker.visible {
    opacity: 1;
  }

nav.navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background: white;
      padding: 10px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      z-index: 1000;
    }

    .nav-links {
      display: flex;
      justify-content: center;
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      margin: 0.1cm 0.8cm;
      margin-top: -0.7cm;
    }

    .logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  font-family: 'Georgia', serif;
}


.custom-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #550101;
  color: #fdf6e3;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 45%;
}

.footer-left h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #ffa94d;
}

.footer-left p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.footer-middle{
  justify-content: center;
  margin-right: 7cm;
}

.footer-middle h3{
  margin-bottom: 1cm;
  font-weight: 700;
  color: #ffa94d;
}

.footer-middle a{
  line-height: 1.7;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  color: white;
}


.footer-right {
  justify-content: end;
  color: #ffa94d;
}

.social-icons h3{
  margin-left: -5cm;
}

.social-icons .insta {
  height: 2.3cm;
  width: 3.2cm;
}

.social-icons .insta{
  margin-top: 1cm;
  margin-left: -8cm;
}

.social-icons .ln {
  height: 1.9cm;
  width: 2cm;
}

.social-icons .yt {
  height: 2cm;
  width: 1.9cm;
}

.social-icons .ln{
  margin-left:-0.4cm;
  margin-top: -0.5cm;
}

.social-icons .yt{
  margin-left: 0.3cm;
}



