body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf3;
  color: #333;
}


     nav.navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background: white;
      padding: 10px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      z-index: 1000;
    }

    .nav-links {
      display: flex;
      justify-content: center;
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      margin: 0.1cm 0.8cm;
      margin-top: -0.7cm;
    }

    .logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  font-family: 'Georgia', serif;
}

    header.hero-section{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
    }

header.hero-section h1 {
      font-family:Georgia, 'Times New Roman', Times, serif ;
      font-size: 4rem;
      margin-top: 3cm;
      color: rgb(96, 3, 3);
    }

/* Horizontal scroll section */
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 40px;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #d58a0f;
  border-radius: 4px;
}

.product-card {
  flex: 0 0 270px;
  scroll-snap-align: start;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 7.5cm;
  height: 7cm;
  object-fit: cover;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 20px;
}

.product-card p {
  padding: 0 15px;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.browse-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  background-color: #d55e0d;
  color: white;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.browse-btn:hover {
  background-color: #a94700;
}


